@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import 'variables.scss';
// Colors
$color-three: #F68657;

*, *:before, *:after {
  box-sizing: border-box;
}

.card {
  background: $card_background;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
  width: calc(99.9% - 40px);
  padding: 20px;
  text-align: right;
  color: black;
  float: left;
  @media (max-width: 768px) {
    margin: 10px 20px;
    width: calc(100% - 10px);
    &:first-child {
      margin-top: 20px;
    }
  }
  &:nth-child(2) {
    margin: 20px 0px;
    width: 33.3333%;
    padding: 50px 20px;
    @media (max-width: 768px) {
      margin: 10px 20px;
      width: calc(100% - 40px);
    }
  }
  .title {
    font-size: 25px;
  }
  .icon {
    margin: 50px 0;
    svg {
      width: 100px;
      height: 100px;
      path {
        fill: $success;
      }
    }
  }
  .features {
    ul {
      padding: 0;
      margin: 20px 0 50px 0;
      list-style-type: none;
      li {
        margin: 10px 0;
        font-size: 14px;
        span {
          border-bottom: 2px dotted $success;
        }
      }
    }
  }
  .btn {
    display: block;
    background: $success;
    color: white;
    padding: 15px 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.9);
    transition: all 200ms ease-in-out;
    text-decoration: none;
    &:hover {
      background: white;
      border: 2px solid $primary;
      color: black;
      font-size: 18px;
    }
  }
}

